html {
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    /* Brand */
    --color-primary: #6741d9;
    --color-primary-shadow:103 65 217;
    --color-primary-light: #EDE7FF;
    /* Surface */
     --color-background: #ffffff;
     /* delete */
     --color-danger: #EF5B63;
}

body {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    height: 100vh;
    padding-top: 10rem;
    font-family: "inter", sans-serif;
}


.todo-app {
    max-width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
.heading-primary{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.book-open__icon{
     width: 2.4rem;
    height:2.4rem;
}
.empty-state {
    transition: transfrom .3s ease;
    transform: translateY(0);
    opacity: 1;
    font-size: 1.6rem;
}

.hidden {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.input-area {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
    transition:
        border-color 0.2s ease,
        box-shadow 0.2s ease;
    padding: .5rem;
}

.input-area:has(.task-input:focus) {
 border-color: rgb(var(--color-primary-shadow)/ 60%);
box-shadow: inset 0 0 10px rgb(var(--color-primary-shadow) / 20%);
    border-radius: 9px;
}

.task-input {
    width: 60%;
    height: 2.4rem;
    padding: 0 2.4rem;
    outline: none;
    font-size: 1.6rem;
}

.add-btn {
    background-color: var(--color-primary);
    color:var(--color-background);
    border: none;
    border-radius: 9px;
}

.task-input {
    border: none;
}
.task-text {
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
}

.task {
    display: flex;
    gap: 2rem;
    overflow: hidden;
    max-height: 10rem;
    opacity: 1;
    transform: translateX(0);
    justify-content: space-between;
    transition: max-height .35s ease, opacity .25s ease, margin .35s ease, padding .35s ease, transform .25s ease;
    padding: .5rem;
}

.task-text::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(50%);
    transform: scaleX(0);
    background-color: currentColor;
    transform-origin: left;
    transition: transform .3s ease;
}

.completed .task-text::after {
    transform: scaleX(1);
    opacity: 0.6;
}

.task-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 2.4rem;
}

.btn__content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.delete-btn {
    color:var(--color-danger);
    background-color: transparent;
    border: none;
}

.task-completed {
    background-color: var(--color-primary-light);
    border-radius: 9px;
}

.save-btn {
    background-color: var(--color-primary);
    color:var(--color-background);
    border-radius: 9px;
    transition: background-color .3s ease;
}

.save-btn:active {
    background-color: var(--color-primary);
}

.task-content {
    display: flex;
    gap: 2rem;
    align-items: center;
}



.task.deleted {
    opacity: 0;
    margin-block: 0;
    transform: translateX(20px);
    padding-block: 0;
    max-height: 0;
}

.task.new-task {
    transform: translateY(0px);
    opacity: 1;
}

.save-btn {
    border: none;
    width: 6rem;
    height: 2.4rem;
}

.edit-input {
    outline: none;
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    transition:
        border-color 0.2s ease,
        box-shadow 0.2s ease;
    padding: .5rem;
    border-radius: 9px;

}

.edit-input:focus {
    border-color: var(--color-primary);
    box-shadow:
        0 0 0 3px rgb(var(--color-primary-shadow) / 12%),
        0 0 12px rgb(var(--color-primary-shadow) / 15%);
}

.edit-input::selection {
    background-color: var(--color-primary);
    color: var(--color-background);
}

.edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}


.filters {
    display: flex;
    justify-content: space-between;
}

.filters__container {
    display: flex;
    gap: 2rem;
}

.filters__btn {
    width: 8rem;
    height: 2.4rem;
    border-radius: 9px;
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    background-color: var(--color-primary-light);
    transition: background-color .3s ease, color .3s ease;
}

.filters__btn:hover {
    color: #334155;
}

.filters__btn.filters-clicked {
    background-color: var(--color-primary);
    color:var(--color-background);
}


.clear {
    width: auto;
}

.footer {
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
    flex-direction: column;
    margin-top: 2rem;
}

@media(max-width:85em) {
    html {
        font-size: 62.5%;
    }

    .todo-app {
        max-width: 40%;
    }
}

@media (max-width:62.5em) {
    html {
        font-size: 62.5%;
    }

    .todo-app {
        max-width: 50%;
    }
}

@media (max-width:50em) {
    html {
        font-size: 62.5%;
    }

    .todo-app {
        max-width: 70%;
    }
}

@media (max-width:36.25em) {
    html {
        font-size: 62.5%;
    }

    .todo-app {
        max-width: 90%;
    }

    .filters__container {
        gap: 1rem;
    }

    .task-input {
        max-width: 50%;
    }
}

@media(max-width:26.25em) {
    html {
        font-size: 62.5%;
    }

    .todo-app {
        max-width: 95%;
    }

    .filters {
        flex-direction: column;
        gap: 2rem;
        padding-inline: 2rem;
    }

    .filters__container {
        justify-content: center;
    }

    .task-content {
        width: 70%;
    }

    .edit-input {
        width: 70%;
    }
}

@media(max-width:21.25em) {
    html {
        font-size: 62.5%;
    }

    .task-input {
        max-width: 40%;
    }
}